.div-container {
  margin: 20px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
}

h5 {
  text-align: center;
}

.para {
  padding-left: 20px;
  list-style-type: disc;
  font-size: 16px;
}

.para li {
  margin-bottom: 10px;
}
