
<app-header></app-header>
<div class="div-container">
  <h5>Developers-side</h5>
  <ul class="para">

    <li> Hei, I am Raies, this is a Angular project, In this comprehensive project, i learn how to build a complete
      Angular application from scratch, covering all the essential concepts needed to get started with Angular
      development. Whether we are new to Angular or looking for a step-by-step guide to create our Angular project, this
      project provides a detailed walkthrough to help understand the Angular framework.</li>
    <li>Components</li>
    <li>Data Binding</li>
    <li>Structural and Attribute Directives</li>
    <li>Communication between components</li>
    <li>Services & Dependency Injection</li>
    <li>Life Cycle Hooks with examples</li>
    <li>Routing</li>
    <li>Forms</li>
    <li>HTTP</li>
    <li>Pipes</li>
  </ul>
</div>